
  <!-- Start of openaccessbutton Zendesk Widget script -->
  <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","openaccessbutton.zendesk.com");
  /*]]>*/</script>
  <!-- End of openaccessbutton Zendesk Widget script -->


<div id="topper" class="strap strap-compact" style="background-color:transparent;background-size:100% 100%;background-repeat:no-repeat;margin-top:-80px;padding-top:100px;padding-bottom:0px;">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1 id="headline" style="color:#FFFFFC;"></h1>
        <div id="other"></div>
      </div>
    </div>
  </div>
</div>

<div class="container-fluid">
  <div class="row">
    <div class="col-md-12">
      <div id="titleheader"></div>
    </div>
    <div class="col-md-12">
      <div id="success"></div>
    </div>
    <div class="col-md-12">
      <div id="embed" style="display:none;">
        <p>Request URL: <code></code></p>
        <p>Widget embed code:</p>
        <textarea id="widget" class="form-control" style="min-height:100px;margin-bottom:40px;" onclick="this.select()"></textarea>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-md-8">
      <div id="info"></div>
    </div>
    <div class="col-md-4">
      <div id="actions"></div>
    </div>
  </div>
</div>



<script>
  jQuery(document).ready(function() {
    $('#topnav').css('background-color','transparent');
    $('code').html(window.location.href.split('#')[0].split('?')[0]);

    var api = 'https://api.openaccessbutton.org';
    if (window.location.host.indexOf('openaccessbutton.org') === -1 || window.location.host.indexOf('dev.openaccessbutton.org') !== -1) {
      api = 'https://dev.api.cottagelabs.com/service/oab';
      clogin.api = 'https://dev.api.cottagelabs.com/accounts';
    }

    var rid = window.location.pathname.split('/')[2];

    $('#widget').val('<div id="oab_insert"></div><script>var oabe = function() {var x = new XMLHttpRequest(); x.onreadystatechange = function() { if (x.readyState == 4 && x.status == 200) { document.getElementById("oab_insert").innerHTML = JSON.parse(x.responseText).data; } }; x.open("GET", "' + api+'/embed/'+rid + '", true); x.send(); }();<\/script>')

    var twatit = function() {
      window.twttr = (function(d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0],
          t = window.twttr || {};
        if (d.getElementById(id)) return t;
        js = d.createElement(s);
        js.id = id;
        js.src = "https://platform.twitter.com/widgets.js";
        fjs.parentNode.insertBefore(js, fjs);

        t._e = [];
        t.ready = function(f) {
          t._e.push(f);
        };

        return t;
      }(document, "script", "twitter-wjs"));
    }

    var blacklist = function(e) {
      e.preventDefault();
      var email = $('#admin_email').val();
      $('#admin_email').val("");
      var opts = {
        type:'POST',
        url: api+'/dnr?refuse=false&email=' + email,
        cache:false,
        contentType: 'application/json',
        dataType: 'json'
      }
      $.ajax(opts);
      $("#emailissue").html(email + " blacklisted and removed. Provide a new email address, and/or save this request.").show();
    }
    var adminsubmitting = false;
    var submit = function(e) {
      if (e) e.preventDefault();
      var data = {};
      if ( $('#email').length && $('#email').val() ) data.email = $('#email').val();
      if ( $('#title').length && $('#title').val() ) data.title = $('#title').val();
      if ( $('#doi').length && $('#doi').val() ) data.doi = $('#doi').val();
      if ( $('#story').length && $('#story').val() ) data.story = $('#story').val();
      if (clogin.hasRole('openaccessbutton.admin') && adminsubmitting) {
        if ( $('#name').length ) data.name = $('#name').val();
        if ( $('#status').length ) data.status = $('#status').val();
        if ( $('#rating').length ) data.rating = $('#rating').val();
        if ( $('#url').length ) data.url = $('#url').val();
        if ( $('#test').length ) {
          $('#test').is(':checked') ? data.test = true : data.test = false;
        }
        if ( $('#admin_email').length && $('#admin_email').val() ) data.email = $('#admin_email').val();
        if ( $('#admin_title').length && $('#admin_title').val() ) data.title = $('#admin_title').val();
        if ( $('#admin_journal').length && $('#admin_journal').val() ) data.journal = $('#admin_journal').val();
        if ( $('#admin_doi').length && $('#admin_doi').val() ) data.doi = $('#admin_doi').val();
        if ( $('#admin_story').length && $('#admin_story').val() ) data.story = $('#admin_story').val();
        if ( $('#admin_notes').length && $('#admin_notes').val() ) data.notes = $('#admin_notes').val();
        adminsubmitting = false;
      }
      var url = api+'/request/'+rid;
      var opts = {
        type:'POST',
        url: url,
        cache:false,
        processData:false,
        contentType: 'application/json',
        dataType: 'json',
        success: function(data) {
          $('.saved').show();
          if ($('#askingforstory').length) {
            setTimeout(function() { window.location = window.location },1500);
          } else {
            setTimeout(function() {$('.saved').hide()},2000);
          }
        },
        error: function(data) {
          console.log('Save error');
          console.log(data);
        },
        beforeSend: function (request) { request.setRequestHeader("x-apikey", clogin.apikey); }
      }
      opts.data = JSON.stringify(data);
      $.ajax(opts);
    }
    var checkemailthensubmit = function(e) {
      if (e) e.preventDefault();
      $('.emailissue').html("").hide();
      var tgt = adminsubmitting ? '#admin_email' : '#email';
      if ( $(tgt).length && $(tgt).val() && $(tgt).val().length ) {
        var email = $(tgt).val();
        var opts = {
          type:'GET',
          url: api+'/dnr?validate=true&email=' + encodeURIComponent(email) + '&request=' + rid + '&user=' + clogin.user.account._id,
          cache:false,
          contentType: 'application/json',
          dataType: 'json',
          success: function(data) {
            if (data.data.dnr === false) {
              submit(e);
            } else {
              var issue = 'Sorry, ' + email + ' ';
              if (typeof data.data.dnr === 'object') {
                issue += 'was added to our block list on ' + data.data.dnr.created_date.split(' ')[0].split('-').reverse().join('/') + '. We cannot send requests to this email.';
              } else if (data.data.dnr === 'creator') {
                issue += 'matches the creator of this request, so this cannot be the author email address we should contact.';
              } else if (data.data.dnr === 'user') {
                issue += "is your email address! We need the author's email. Are you the author? If so, please see below.";
              } else if (data.data.dnr === 'supporter') {
                issue += 'matches the address of someone who already supports this request. They cannot be a suitable author to contact to request access.';
              } else if (data.data.dnr === 'invalid') {
                issue += 'is not a valid address.';
                if (data.data.validation.did_you_mean) issue += ' Did you mean ' + data.data.validation.did_you_mean + '?';
              } else  if (data.data.dnr === true) {
                issue += 'is on the blacklist and cannot be used.';
              }
              $(tgt).val("").attr("placeholder",email + " is an unsuitable author email address - please try another");
              $('.emailissue').html(issue).show();
            }
          },
          error: function() {console.log('Check email error, submitting anyway'); submit(e); } // if we can't do the validation for some reason, just submit anyway
        }
        $.ajax(opts);
      } else {
        submit(e);
      }
    }
    var adminsubmit = function(e) {
      adminsubmitting = true;
      checkemailthensubmit(e);
    }

    var action = function() {
      var act = $('#action').val();
      if (act) {
        $('#admin').hide();
        $('#admin').after('<p style="color:orange;">Executing, please wait a few seconds for page refresh...</p>');
        $.ajax({
          type:'GET',
          url:api+'/request/' + rid + '/admin/' + act,
          beforeSend: function (request) { request.setRequestHeader("x-apikey", clogin.apikey); },
        });
        setTimeout(function() { window.location = window.location.href; }, 4000);
      }
    }

    var deleteitem = function() {
      $.ajax({
        type:'DELETE',
        url:api+'/request/'+rid,
        beforeSend: function (request) { request.setRequestHeader("x-apikey", clogin.apikey); },
      });
      $('#admin').html('<p>This request has been deleted. You will be redirected to the requests page.</p>');
      setTimeout(function() { window.location = '/request'; }, 2000);
    }

    var scrape = function() {
      var url = $('#titlelink').attr('href');
      if (url) {
        $.ajax({
          type:'GET',
          url:api+'/scrape?url='+encodeURIComponent(url),
          success: function(data) {
            if (data.data) {
              if (data.data.title && !$('#title').val()) $('#title').val(data.data.title);
              if (data.data.doi && !$('#doi').val()) $('#doi').val(data.data.doi);
              if (data.data.email && data.data.email.length > 0 && !$('#email').val()) {
                var e = typeof data.data.email === 'string' ? data.data.email : data.data.email[0];
                $('#email').val(e);
              }
            }
          }
        });
      }
    }

    var addsupport = function(e) {
      if (e) e.preventDefault();
      if (clogin.loggedin()) {
        var opts = {
          type:'POST',
          url: api+'/support/'+rid,
          cache:false,
          success: function(data) {
            window.location = window.location.href.split('#')[0].split('?')[0];
          }
        }
        opts.beforeSend = function (request) { request.setRequestHeader("x-apikey", clogin.apikey); }
        $.ajax(opts);
      } else {
        window.location = '/account?next=/request/' + rid + encodeURIComponent('?support=true');
      }
    }
    
    var history = function(rid) {
      try {
        $.ajax({
          type:'GET',
          url:api+'/history/'+rid,
          success: function(data) {
            var h = '';
            for ( var d in data ) {
              h += '<p>' + /*data[d].userId + ' at ' +*/ data[d].created_date + '<br>' + JSON.stringify(data[d].modifier) + '</p><hr>';
            }
            $('#history').html(h);
          }
        });
      } catch(err) {}
    }

    var admin = function(record) {
      var dets = '<p>Dear admin, please notify when you are moderating in a few clicks at <a href="https://app.timebridge.com/mwm/requests">https://app.timebridge.com/mwm/requests</a></p>';
      dets += '<p>Status: <select id="status" class="form-control" style="width:150px;display:inline;">';
      var statuses = ['help','moderate','progress',/*'hold',*/'refused','received','closed'];
      for ( var s in statuses ) {
        dets += '<option value="' + statuses[s] + '"';
        if (record.status === statuses[s]) dets += ' selected="selected"';
        dets += '>' + statuses[s] + '</option>';
      }
      dets += '</select>';
      dets += ' &nbsp;&nbsp;test: <input type="checkbox" id="test"';
      if (record.test === true) dets += ' checked="checked"';
      dets += '>';
      dets += ' &nbsp;&nbsp;Action: <select id="action" class="form-control" style="width:150px;display:inline;">';
      var actions = ['','send_to_author','story_too_bad','not_a_scholarly_article','dead_author','user_testing','broken_link'];
      if (record.received && record.received.url) actions.push('remove_submitted_url');
      for ( var a in actions ) {
        dets += '<option value="' + actions[a] + '">' + actions[a].replace(/_/g,' ') + '</option>';
      }
      dets += '</select>';
      dets += '</p>';
      if (record.location && record.location.geo && record.location.geo.lat) {
        dets += '<p>Location: ' + record.location.geo.lat + ',' + record.location.geo.lon
        if (record.location.location) dets += ' - ' + record.location.location;
        dets += '</p>';
      }
      dets += '<p>Dear moderator, please click "Save changes" immediately after having filled the form and BEFORE clicking "Send to author".</p>';
      dets += '<p><input type="text" id="name" value="' + (record.name ? record.name : '') + '" placeholder="Author Name" class="form-control"></p>';
      if (record.email) dets += '<div class="input-group">';
      dets += '<input type="text" id="admin_email" value="' + (record.email ? record.email : '') + '" placeholder="Author Email" class="form-control">';
      if (record.email) dets += '<div class="input-group-btn"><a id="blacklist" href="#" class="btn btn-action">Blacklist</a></div></div>';
      dets += '<p class="emailissue" style="display:none;font-size:0.9em;"></p>';
      dets += '<p style="margin-top:10px;"><input type="text" id="admin_title" class="form-control" placeholder="Title" value="';
      if (record.title) dets += record.title;
      dets += '"></p>';
      dets += '<p style="margin-top:10px;"><input type="text" id="admin_journal" class="form-control" placeholder="Journal" value="';
      if (record.journal) dets += record.journal;
      dets += '"></p>';
      dets += '<p><input type="text" id="admin_doi" class="form-control" placeholder="DOI" value="';
      if (record.doi) dets += record.doi;
      dets += '"></p>';
      dets += '<p><textarea id="admin_story" class="form-control" placeholder="Story" style="min-height:100px;">';
      if (record.story) dets += record.story;
      dets += '</textarea></p>';
      dets += '<p>Story rating: <select id="rating" class="form-control" style="width:100px;display:inline;"><option></option>';
      dets += '<option value="0"';
      if (parseInt(record.rating) === 0) dets += ' selected="selected"';
      dets += '>fail</option>';
      dets += '<option value="1"';
      if (parseInt(record.rating) === 1) dets += ' selected="selected"';
      dets += '>pass</option>';
      dets += '</select>';
      dets += '<a class="btn btn-danger pull-right" id="delete" href="#">DELETE</a></p>';
      dets += '<p><input type="submit" id="submitchanges" value="Save changes before sending to author or any other action" class="btn btn-action btn-block"></p>';
      dets += '<p class="saved" style="display:none;">Changes saved.</p>';
      dets += '<p style="margin-top:20px;"><a class="btn btn-action" href="/response/' + record.receiver + '">View the response page for this request</a> ';
      dets += '<a class="btn btn-action pull-right" href="/admin?request=' + rid + '">Send email via admin UI about this request</a></p>';
      dets += '<p><textarea id="admin_notes" class="form-control" placeholder="Admin notes" style="min-height:200px;">';
      if (record.notes) dets += record.notes;
      dets += '</textarea></p>';
      return dets;
    }

    var details = function(data) {
      var rec = data.data;

      var ttl = '';
      ttl += '<h2 style="color:#f04717;">';
      if (rec.url && rec.url.indexOf('http') === 0) ttl += '<a id="titlelink" target="_blank" href="' + rec.url + '" style="word-wrap:break-word;overflow-wrap:break-word;color:#f04717;">';
      ttl += rec.title ? rec.title : rec.url;
      if (rec.url && rec.url.indexOf('http') === 0) ttl += '</a>';
      ttl += '</h2>';
      $('#titleheader').html(ttl);
      var ot = rec.type === 'article' ? 'data' : 'article';
      if (rec.status === 'help' && ( !rec.story || !rec.user )) {
        if (rec.other) {
          $('#other').html('<p><a style="text-decoration:underline;color:#FFFFFC;" href="/request/' + rec.other + '">I actually wanted the ' + ot + '</a></p>');
        } else {
          $('#other').html('<p><a style="text-decoration:underline;color:#FFFFFC;" href="/request?type=data&url=' + encodeURIComponent(rec.url) + '">I actually wanted the ' + ot + '</a></p>');
        }
      }

      if (rec.status === 'received' && rec.received !== undefined) {
        var suc = '<div class="well" style="background-color:#dcefdc;padding-top:0px;margin-top:30px;"><h3 style="text-align:center;">The ' + rec.type + ' is now available ';
        var surl;
        if (rec.received.url) {
          suc += 'at:<br>';
          surl = rec.received.url;
        } else if (rec.received.zenodo) {
          suc += 'in Zenodo at:<br>';
          surl = rec.received.zenodo.split('/files/')[0];
        } else if (rec.received.osf) {
          suc += 'in the OSF at:<br>';
          surl = rec.received.osf;
        }
        if (surl.indexOf('http') !== 0) surl = 'http://' + surl;
        suc += '<a target="_blank" href="' + surl + '" style="word-wrap:break-word;overflow-wrap:break-word;">' + surl + '</a></h3>';
        suc += '<p style="text-align:center;"><small>Not what you expected? <a href="/feedback#wrong?searched=' + rec._id + '&given=' + surl + '">Report an issue</a>.</small></p>';
        suc += '</div>';
        $('#success').html(suc);
        $('#topper').css('background-image','url(/static/header_unlocked.jpg');
        $('#headline').html('<b>This ' + rec.type + ' request is now available.</b>');
      } else {
        $('#topper').css('background-image','url(/static/header_locked.jpg');
        $('#headline').html('<b>This ' + rec.type + ' is inaccessible</b>');
        $('body').css('background-color','#fceadf');
      }

      var re = '';
      if (rec.story ) {
        re += '<div class="well" style="background-color:#FFFFFC;"><p>';
        var frn;
        if (rec.user && rec.user.firstname) {
          frn = rec.user.firstname;
        } else if (rec.user && rec.user.username && rec.user.username.indexOf('@') === -1) {
          frn = rec.user.username;
        } else {
          frn = 'An anonymous';
        }
        if ( rec.user ) {
          re += frn;
          if (rec.user.profession && rec.user.profession !== 'Other') {
            if (frn !== 'An anonymous') re += ',';
            re += ' ' + rec.user.profession.toLowerCase();
          } else if (frn === 'An anonymous') {
            re += ' user';
          }
          if (rec.user.affiliation && rec.user.affiliation.length > 1) re += ' at ' + rec.user.affiliation;
        }
        re += rec.created_date ? ' on ' + rec.created_date.split(' ')[0].split('-').reverse().join('/') : '';
        re += ' said:</p>';
        re += '<p>"' + rec.story + '"</p>';
        re += '<p>By asking the author to share a copy we can make it available to ';
        if (frn !== 'An anonymous') re += frn + ', and ';
        re += 'everyone ';
        if (frn !== 'An anonymous') re += 'else ';
        re += 'who needs it.</p>';
        re += '</div>';
      }

      if ( rec.status !== 'received' && (!rec.title || !rec.email || !rec.story) ) {
        if (rec.user === undefined) {
          re += '<p>We ask the author to make this ' + rec.type + ' available to everyone for free - legally. Start a request and we\'ll take care of the rest!</p>';
          if (clogin.loggedin()) {
            re += '<p><textarea style="min-height:100px;" class="form-control" id="story" placeholder="How would getting access to this research help you? This message will be sent to the author, and helps them to understand why the research should be made available."></textarea></p>';
            re += '<p id="askingforstory" style="margin-bottom:60px;"><a class="btn btn-action" href="#" id="update">Submit</a></p>';
            re += '<p class="saved" style="display:none;">Thanks! Please wait a moment while we reload the page...</p>';
          } else {
            re += '<div class="input-group">\
              <input type="text" name="email" id="youremail" class="form-control" placeholder="Your email address"> \
              <div class="input-group-btn">\
                <a id="gologin" href="/account?next=/request/' + rid + '" class="btn btn-action">Continue</a>\
              </div>\
            </div>\
            <p style="margin-bottom:40px;"><small>Any questions? Drop us <a href = "mailto:hello@openaccessbutton.org?subject=Question%20about%20Open%20Access%20Button%20requests">an email</a> or click help.</small></p>';
          }
        } else {
          re += '<p>We need more details for this request. Can you take a minute to help?</p>';
          if (clogin.loggedin()) {
            if (!rec.title) re += '<p><input class="form-control" type="text" id="title" placeholder="Article title"></p>';
            if (!rec.email) re += '<p><input class="form-control" type="text" id="email" placeholder="Article author email"></p><p class="emailissue" style="display:none;font-size:0.9em;"></p>';
            if (!rec.doi) re += '<p><input class="form-control" type="text" id="doi" placeholder="Article DOI"></p>';
            re += '<p style="margin-bottom:60px;"><a class="btn btn-action" href="#" id="update">Save</a></p>';
            re += '<p class="saved" style="display:none;">Changes saved.</p>';
          } else {
            re += '<p style="margin-bottom:40px;"><a href="/account?next=/request/' + rid + '" class="btn btn-block btn-action">Login / sign up to continue</a></p>';
          }
        }
      }

      if ( rec.status !== 'received' && !(clogin.loggedin() && rec.user && rec.user.id && clogin.user && clogin.user.account && clogin.user.account._id === rec.user.id) ) {
        re += '<p>Are you the author? Please <a style="text-decoration:underline;" href="mailto:requests@openaccessbutton.org?subject=I\'m%20the%20author%20for%20request%20' + rid + '&body=Hi\,%0A%0AI%20the%20author%20of%20this%20paper.%20Please%20tell%20me%20how%20I%20can%20fulfil%20this%20request." target="_blank">contact us</a>!</p>';
      }

      if (clogin.hasRole('openaccessbutton.admin')) {
        re += '<p style="text-align:right;"><a href="#" id="showadmin" style="color:orange;">Admin</a></p>';
        re += '<div id="admin" style="display:none;"><div class="well" style="background-color:orange;">';
        re += admin(rec);
        re += '</div><div id="history"></div></div>';
        history(rec._id);
      }

      $('#info').append(re);

      var acts = '';
      if (rec.status !== 'help') acts += '<h4>Show your support</h4>';
      if (rec.count && rec.count > 1) acts += '<p>' + (rec.count) + ' ' + (rec.count === 1 ? 'person supports' : 'people support') + ' this request</p>';
      if (rec.status !== 'received' && rec.story) {
        if (clogin.loggedin() && rec.user && rec.user.id && clogin.user && clogin.user.account && clogin.user.account._id === rec.user.id) {
          acts += '<p>You made this request.</p>';
        } else if (rec.user !== undefined && ( !rec.supports || rec.supports === undefined || rec.supports.length === 0) ) {
          acts += '<p>Add your support to be notified when this ' + rec.type + ' is released.</p>';
          acts += '<p><a id="addsupport" class="btn btn-action" href="#">Notify me</a></p>';
        } else {
          acts += '<p>You will be notified about this request.</p>';
        }
      } else if (rec.status === 'received') {
        acts = acts.replace(' supports ',' supported ').replace(' support ',' supported ');
      }
      if (rec.status !== 'help' && rec.status !== 'received') {
        // taking embed link out <a href="#" id="showembed" class="btn btn-xs btn-action panels pull-right" style="margin-left:20px;height:28px;font-size:0.9em;">Embed</a>
        acts += '<div class="clearfix" style="margin-top:20px;margin-bottom:40px;" id="sharebuttons"><p>Share this request to help make it successful</p> \
          <div style="display:inline;margin-bottom:-10px;padding-left:20px;" class="pull-right"> \
            <a class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Help us get access to research!" data-size="large"></a> \
          </div> \
          <a class="btn btn-xs btn-action pull-right" style="height:28px;font-size:0.9em;" id="fbshare" href="https://www.facebook.com/sharer/sharer.php?u=" target="_blank"><i class="fa fa-facebook-official"></i> facebook</a></div>';
      }
      $('#actions').html(acts);

      $('#showembed').bind('click',function(e) { e.preventDefault(); $('#embed').toggle(); });
      if ($('#showadmin').length) $('#showadmin').bind('click',function(e) { e.preventDefault(); $('#admin').toggle(); });
      if ($('#addsupport').length) $('#addsupport').bind('click',addsupport);
      if ($('#blacklist').length) $('#blacklist').bind('click',blacklist);
      if ($('#submitchanges').length) $('#submitchanges').bind('click',adminsubmit);
      if ($('#update').length) $('#update').bind('click',checkemailthensubmit);
      if ($('#delete').length) $('#delete').bind('click',deleteitem);
      if ($('#action').length) $('#action').bind('change',action);
      if ($('#gologin').length) $('#gologin').bind('click',function(e) {
        if ($('#youremail').val()) $(this).attr('href',$(this).attr('href').replace('?','?email='+$('#youremail').val()+'&'));
      });
      //if (clogin.hasRole('root') && record.status !== 'received') $('#titlelink').bind('click',scrape);
      if (window.location.href.indexOf('support=') !== -1) {
        if (rec.user && rec.user.id && clogin.user && clogin.user.account && clogin.user.account._id !== rec.user.id && ( !rec.supports || rec.supports === undefined || rec.supports.length === 0) ) {
          addsupport();
        } else if (!clogin.loggedin()) {
          addsupport(); // which will redirect to login anyway
        }
      }
      if (clogin.loggedin() && rec.status !== 'received' && (!rec.title || !rec.email) ) scrape();
      twatit();
    }


    // login not necessary but returns supports info if possible, so we try
    var rurl = api + '/request/' + rid;
    var runrequest = function() {
      $.ajax({
        type: 'GET',
        url: rurl,
        success: details,
        error: function() { $('#titleheader').html("Sorry, we can't find a request with ID " + rid); }
      });
    }
    clogin.afterFailure = function() {
      clogin.removeCookie(clogin.cookie,'.openaccessbutton.org');
      clogin.apikey = undefined;
      clogin.user = {logout:'success'};
      runrequest();
    }
    if (clogin.loggedin()) {
      clogin.afterLogin = function() {
        rurl += '?apikey=' + clogin.apikey;
        runrequest();
      };
      clogin.login();
    } else {
      runrequest();
    }


  });
</script>
