<div class="container-fluid">
  <div class="row">
    <div class="col-md-8 col-md-offset-2" style="text-align:justify;">
      <h1 style="text-align:left;margin-top:25px;margin-bottom:25px;font-size:4em;">404</h1>
        <p>
          This page doesn't seem to exist. If you think it should, <a href="/feedback#bug">let us know</a>.
          <br />Otherwise, head back to the <a href="https://openaccessbutton.org/">homepage</a>.
        </p>
      </div>
    </div>
  </div>
