
<script type="text/javascript" src="/static/dropfile.js"></script>

<div class="container-fluid" id="bulk" style="display:none;">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <div>
        <p class="jobupload">Upload a csv file, which must have column names including at least one of "url", "doi", "pmid", "pmcid", "title":</p>
  		  <p>
  		    Include library catalogue checks in the bulk job?<br>
  		    <input type="checkbox" name="bulklibraries" class="bulklibraries" value="imperial"> Imperial<br>
  		    <input type="checkbox" name="bulklibraries" class="bulklibraries" value="york"> York<br>
  		  </p>
        <form>
          <input type="file" name="jobupload" id="jobupload" class="form-control" style="padding-bottom:30px;margin-bottom:5px;">
  				<div style="display:none;" id="jobinfo">Uploading...</div>
        </form>
        <p>OR create job of open requests between <input id="batchfrom" type="text" style="width:100px;"> and <input id="batchto" type="text" style="width:100px;"> <a class="btn btn-primary" id="generatebatch" href="#">Go</a></p>
  			<div id="jobhistory" style="margin-top:10px;margin-bottom:50px;">Loading job history...</div>
      </div>
    </div>
  </div>
</div>




<script>
  jQuery(document).ready(function() {
    if (!clogin.loggedin()) {
      window.location = '/account?next=/bulk';
    }

    var api = 'https://api.openaccessbutton.org';
    if (window.location.host.indexOf('openaccessbutton.org') === -1 || window.location.host.indexOf('dev.openaccessbutton.org') !== -1) {
      api = 'https://dev.api.cottagelabs.com/service/oab';
      clogin.api = 'https://dev.api.cottagelabs.com/accounts';
    }

    var createrequests = function(e) {
      e.preventDefault();
      $('#jobinfo').html('<p>Checking job status...</p>').show();
      var uid = $(this).attr('href');
      $.ajax({
        url: api + '/job/' + uid + '/results',
        success: function(data) {
          $('#jobinfo').html('');
          var count = 0;
          for ( var r in data ) {
            if (data[r].availability.length === 0 && data[r].requests.length === 0 && ( ( data[r].match.indexOf('TITLE:') === -1 && data[r].match.indexOf('CITATION:') === -1 ) || ( data[r].meta && data[r].meta.article && data[r].meta.article.doi ) ) ) count += 1;
          }
          var confirmed = confirm('Are you sure you want to try to create ' + count + ' requests from this job? Requests will only be created for records that are unavailable and for which there are not already requests, and where at least a url or doi was provided or found during checking - title alone is not enough. This count estimate is based on how many it seems at least a url or doi is available for, and for which there was not already a request at the time the job was run (if a request has since been created, it should be matched and not duplicated, but will still be counted). The actual created number will be confirmed after you submit.)');
          if (confirmed) {
            $('html,body').scrollTop(0);
            $('#jobinfo').html('Creating requests from job ' + uid + '...');
            $.ajax({
              url: api + '/job/' + uid + '/request?apikey=' + clogin.apikey,
              success: function(res) {
                $('#jobinfo').html('<p>' + res.length + ' requests created</p>');
                for ( var rid in res ) $('#jobinfo').append('<p><a target="_blank" href="/request/' + res[rid]._id + '">' + res[rid]._id + '</a></p>');
              }
            });
          }
        }
      });
    }
    
    var checkprogress = function(e) {
      e.preventDefault();
      var uid = $(this).attr('href');
      var u = api + '/job/' + uid + '/progress';
		  $('.checkprogress[href="' + uid + '"]').html('Checking...');
   		$.ajax({
  			url: u,
  			method: 'GET',
  			success: function(data) {
  			  $('.checkprogress[href="' + uid + '"]').html(data.progress.toFixed(2) + '%');
  			}
			});
    }
    
    var removejob = function(e) {
      e.preventDefault();
      var confirmed = confirm('Are you sure you want to delete this job?');
      if (confirmed) {
        var uid = $(this).attr('href');
        var u = api + '/job/' + uid + '/remove?apikey=' + clogin.apikey;
     		$.ajax({
    			url: u,
    			method: 'GET',
    			success: function(data) {
    			  $('.job'+uid).remove();
    			}
  			});
			}
    }

		var getJobs = function(e) {
			$.ajax({
				url: api + '/job?apikey='+clogin.apikey,
				method: 'GET',
				contentType: "application/json; charset=utf-8",
				success: function(data) {
					var jh = '';
					for ( var j in data ) {
						var job = data[j];
		        jh += '<p class="job' + job._id + '">' + job.created_date + ': ' + job.name + ' (ID #' + job._id + ') ' + job.processes + ' rows. ';
		        jh += job.done ? '<span style="color:orange;">Complete</span>' : '<a class="checkprogress" href="' + job._id + '">Check progress</a>';
		        jh += ' - get <a target="_blank" href="' + api + '/job/' + job._id + '/results.json">JSON</a> or <a href="' + api + '/job/' + job._id + '/results.csv">CSV</a> ';
						jh += '- or <a class="createrequests" href="' + job._id + '">Request</a> ';
						jh += '- <a class="removejob" href="' + job._id + '" style="color:red;">x</a></p>';
					}
					$('#jobinfo').hide();
					$('#jobhistory').html(jh);
					$('.checkprogress').bind('click',checkprogress);
					$('.removejob').bind('click',removejob);
					$('.createrequests').bind('click',createrequests);
				}
			});
		}

    var start = moment().startOf('isoWeek');
    var today = moment().endOf('day');
    $('#batchfrom').val(moment(start,"x").format("DDMMYYYY"));
    $('#batchto').val(moment(today,"x").format("DDMMYYYY"));
    var generatebatch = function(e) {
      e.preventDefault();
      var from = $('#batchfrom').val();
      var to = $('#batchto').val();
			$.ajax({
				url: api + '/job/generate/' + from + '/' + to + '?apikey='+clogin.apikey,
				method: 'POST',
				success: function(data) {
				  if (data.count) {
				    $('#jobinfo').show().html('<p>Job added, with ' + data.count + ' rows. Refresh the page to update job list.</p>');
				  } else {
				    $('#jobinfo').show().html('<p>There are no open requests between these dates. No job created.</p>');
				  }
				},
				error: function() { $('#jobinfo').show().html('<p>Sorry, there was an error creating this job.</p>'); }
			});
    }
    $('#generatebatch').bind('click',generatebatch);

		var identifiers = [];
		var file, filename;

		var submitJob = function(e) {
			identifiers = [];
			var split = ',';
			var wrap = '"';
			var wrapreplace = new RegExp(wrap,"g");

			file = file.replace(/\r\n/g,'\n'); // switch MS line breaks to unix
			file = file.replace(/\n{2,}/g,'\n'); // get rid of any blank lines
			file = file.replace(/\n*$/g,''); // remove newlines at end of file

			var lines = [];
			var fls = file.split('\n');
			var il = '';
			for ( var f in fls ) {
				il += fls[f];
				if ( il.split(wrap).length % 2 !== 0 ) {
					lines.push(il);
					il = '';
				}
			}
			var headers = [];
			var hline = lines.shift();
			var hlines = hline.split(split);
			var hl = '';
			for ( var h in hlines ) {
				if (hl.length > 0) hl += ',';
				hl += hlines[h];
				if ( hl.split(wrap).length % 2 !== 0 ) {
					hl = hl.replace(wrapreplace,'').replace(/(^\s*)|(\s*$)/g,'');
					headers.push(hl.toLowerCase());
					hl = '';
				}
			}

			for (var i = 0; i < lines.length; i++) {
				var obj = {};
				var currentline = lines[i].split(split);
				var cl = '';
				var counter = 0;
				var lengths = 0;
				for ( var col in currentline ) {
					if (cl.length > 0) cl += ',';
					cl += currentline[col];
					if ( cl.split(wrap).length % 2 !== 0 ) {
						cl = cl.replace(wrapreplace,'');
						if (headers[counter] && headers[counter].length > 0) obj[headers[counter]] = cl;
						if (lengths === 0) lengths = cl.length;
						cl = '';
						counter += 1;
					}
				}
				if (lengths) identifiers.push(obj);
			}

			var payload = {processes:identifiers,name:filename};
			if ( $('.bulklibraries:checked').length ) {
			  payload.libraries = [];
			  $('.bulklibraries:checked').each(function() {
			    payload.libraries.push($(this).val());
			  });
			}
			$.ajax({
				url: api + '/job?apikey='+clogin.apikey,
				method: 'POST',
				data: JSON.stringify(payload),
				dataType: 'JSON', // TODO sort issue here, the POST invalidates preflight without jsonp but with jsonp we don't get back a jsonp object
				contentType: "application/json; charset=utf-8",
				success: function() { $('#jobinfo').html('<p>Job added. Refresh the page to update job list.</p>'); },
				error: function() { $('#jobinfo').html('<p>Sorry, this job could not be uploaded.</p>'); }
			});
		}

		var uploadJob = function(e) {
			$('#jobinfo').html('Uploading...').show();
			var f;
			if( window.FormData === undefined ) {
				f = (e.files || e.dataTransfer.files);
			} else {
				f = e.target.files[0];
			}
			filename = f.name;
			var reader = new FileReader();
			reader.onload = (function(theFile) {
				return function(e) {
					file = e.target.result;
					submitJob();
				};
			})(f);
			reader.readAsBinaryString(f);
		}

		$('input[type=file]').on('change', uploadJob);

    clogin.afterLogin = function() {
      if (clogin.hasRole('openaccessbutton.admin')) {
				getJobs();
        $('#bulk').show();
      } else {
        window.location = '/';
      }
    }
		clogin.afterFailure = function() { window.location = '/account?next=/bulk'; };
    clogin.login();
  });
</script>
