  <!-- Start of openaccessbutton Zendesk Widget script -->
  <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","openaccessbutton.zendesk.com");
  /*]]>*/</script>
  <!-- End of openaccessbutton Zendesk Widget script -->

  <style>
  	.focal{
  		background-color: white;
  		text-align: left;
  		border-radius: 5px;
      padding: 20px;
  	}

    .tabs div:not(:target) {
      display: none;
    }

    .tabs div:target {
      display: block;
    }

    /* Make the div big, so we would jump, if the JS was still broken */
    .tabs div {
      height: 100vh;
    }
    </style>

<script type="text/javascript" src="/static/dropfile.js"></script>

<div class="container-fluid">

  <div class="row">
    <div class="col-md-8 col-md-offset-2">

<!-- Headline & 1 liner -->

      <div>

<h1 style="text-align:left; font-size:4em;">OAsheet</h1>
<h3 style="text-align:center;">Give us a list of articles, and we'll tell you which ones are Open Access</h3>

      </div>

<!-- End of intro -->

<div id="loginRedirect" class="focal">
  <p style="text-align:center;">
    Start with your email address so we can send you your results.<br>
  </p>
  <input type="email" class="form-control" id="email" name="email" placeholder="Enter your email address">
  <button id="emailredirect" type="submit" class="btn btn-action btn-block" style="margin-top:10px;">Submit</button>
  <p style="padding:5px; text-align:center;">Try one at a time on <a href="/">our homepage</a> to see how it works.</p>
</div>

<div id="uploadarea" class="focal row" style="display:none;">

<!-- Start of upload button & instructions. This should be shown only when logged in. -->

      <div id="upload">
        <div class="row">
          <div class="col-md-6">
          <p class="jobupload" >Upload a CSV file with your article identifiers, including column headers.
          <br />Our tool will look for at least one column named "url", "doi", "pmid", "pmcid", or "title".</p>
        </div>
        <div class="col-md-6">

    <img src="/static/oasheet_results.png" style="width:60%;">
        </div>
      </div>

        <form>
          <input type="file" name="jobupload" id="jobupload" class="form-control" style="padding-bottom:30px;margin-bottom:5px;">
  				<div style="display:none;" id="jobinfo">Uploading, for large files this can take a minute</div>
        </form>
      </div>

<!-- end of upload button & instructions -->

<!-- Start of places to read more. This should always be shown.  -->

  <div id="help" class="row">
    <div class="col-md-4" style="text-align:center;">
    </div>
    <div class="col-md-4" style="text-align:center;">
      <a href="https://docs.google.com/spreadsheets/d/1RB9URQvE-TWuSeCwv8BusoArra4avD4rA0kBusRW1d0/edit?usp=sharing" style="text-decoration:underline;">Examples</a>
    </div>
    <div class="col-md-4" style="text-align:center;">
    </div>
  </div>
<!-- End of places to read more -->

</div>

<p style="text-align:center; padding-top:20px;">
  Looking for a quick way to report on institutional, funder, and government policies?<br> You'll love our friends at <a href="https://lantern.cottagelabs.com/" target="_blank">Lantern</a>.
</p>

    </div>
  </div>

</div>




<script>
  jQuery(document).ready(function() {

    var emailredirect = function(e) {
    	e.preventDefault();
    	window.location = '/account?email=' + $('#email').val() + '&next=/oasheet';
    }
    $('#emailredirect').bind('click',emailredirect);
    $('#email').bind('keyup',function(e) {
    	e.preventDefault();
    	if (e.keyCode === 13) $('#emailredirect').trigger('click');
    });

    var api = 'https://api.openaccessbutton.org';
    if (window.location.host.indexOf('openaccessbutton.org') === -1 || window.location.host.indexOf('dev.openaccessbutton.org') !== -1) {
      api = 'https://dev.api.cottagelabs.com/service/oab';
      clogin.api = 'https://dev.api.cottagelabs.com/accounts';
    }

    var createrequests = function(e) {
      e.preventDefault();
      $('#jobinfo').html('<p>Checking job status...</p>').show();
      var uid = $(this).attr('href');
      $.ajax({
        url: api + '/job/' + uid + '/results',
        success: function(data) {
          $('#jobinfo').html('');
          var count = 0;
          for ( var r in data ) {
            if (data[r].availability.length === 0 && data[r].requests.length === 0 && ( ( data[r].match.indexOf('TITLE:') === -1 && data[r].match.indexOf('CITATION:') === -1 ) || ( data[r].meta && data[r].meta.article && data[r].meta.article.doi ) ) ) count += 1;
          }
          var confirmed = confirm('Are you sure you want to try to create ' + count + ' requests from this job? Requests will only be created for records that are unavailable and for which there are not already requests, and where at least a url or doi was provided or found during checking - title alone is not enough. This count estimate is based on how many it seems at least a url or doi is available for, and for which there was not already a request at the time the job was run (if a request has since been created, it should be matched and not duplicated, but will still be counted). The actual created number will be confirmed after you submit.)');
          if (confirmed) {
            $('html,body').scrollTop(0);
            $('#jobinfo').html('Creating requests from job ' + uid + '...');
            $.ajax({
              url: api + '/job/' + uid + '/request?apikey=' + clogin.apikey,
              success: function(res) {
                $('#jobinfo').html('<p>' + res.length + ' requests created</p>');
                for ( var rid in res ) $('#jobinfo').append('<p><a target="_blank" href="/request/' + res[rid]._id + '">' + res[rid]._id + '</a></p>');
              }
            });
          }
        }
      });
    }

    var checkprogress = function(e) {
      e.preventDefault();
      var uid = $(this).attr('href');
      var u = api + '/job/' + uid + '/progress';
		  $('.checkprogress[href="' + uid + '"]').html('Checking...');
   		$.ajax({
  			url: u,
  			method: 'GET',
  			success: function(data) {
  			  $('.checkprogress[href="' + uid + '"]').html(data.progress.toFixed(2) + '%');
  			}
			});
    }

		var identifiers = [];
		var file, filename;

		var submitJob = function(e) {
			identifiers = [];
			var split = ',';
			var wrap = '"';
			var wrapreplace = new RegExp(wrap,"g");

			file = file.replace(/\r\n/g,'\n'); // switch MS line breaks to unix
			file = file.replace(/\n{2,}/g,'\n'); // get rid of any blank lines
			file = file.replace(/\n*$/g,''); // remove newlines at end of file

			var lines = [];
			var fls = file.split('\n');
			var il = '';
			for ( var f in fls ) {
				il += fls[f];
				if ( il.split(wrap).length % 2 !== 0 ) {
					lines.push(il);
					il = '';
				}
			}
			var headers = [];
			var hline = lines.shift();
			var hlines = hline.split(split);
			var hl = '';
			for ( var h in hlines ) {
				if (hl.length > 0) hl += ',';
				hl += hlines[h];
				if ( hl.split(wrap).length % 2 !== 0 ) {
					hl = hl.replace(wrapreplace,'').replace(/(^\s*)|(\s*$)/g,'');
					headers.push(hl.toLowerCase());
					hl = '';
				}
			}

			for (var i = 0; i < lines.length; i++) {
				var obj = {};
				var currentline = lines[i].split(split);
				var cl = '';
				var counter = 0;
				var lengths = 0;
				for ( var col in currentline ) {
					if (cl.length > 0) cl += ',';
					cl += currentline[col];
					if ( cl.split(wrap).length % 2 !== 0 ) {
						cl = cl.replace(wrapreplace,'');
						if (headers[counter] && headers[counter].length > 0) obj[headers[counter]] = cl;
						if (lengths === 0) lengths = cl.length;
						cl = '';
						counter += 1;
					}
				}
				if (lengths) identifiers.push(obj);
			}

			var payload = {processes:identifiers,name:filename,plugin:'oasheet'};
			if ( $('.bulklibraries:checked').length ) {
			  payload.libraries = [];
			  $('.bulklibraries:checked').each(function() {
			    payload.libraries.push($(this).val());
			  });
			}
			$.ajax({
				url: api + '/job?apikey='+clogin.apikey,
				method: 'POST',
				data: JSON.stringify(payload),
				dataType: 'JSON', // TODO sort issue here, the POST invalidates preflight without jsonp but with jsonp we don't get back a jsonp object
				contentType: "application/json; charset=utf-8",
        success: function() { $('#jobinfo').html('<p>Upload successful! We will email you the results. This can take up to a few hours, depending on how many articles you have asked for.</p>'); },
        error: function() { $('#jobinfo').html('<p>Something has gone wrong. Email <a href="mailto:help@openaccessbutton.org?Subject=OAsheet%20Upload%20Error">help@openaccessbutton.org</a> with your file attached and we will figure it out!</p>'); }
			});
		}

		var uploadJob = function(e) {
			$('#jobinfo').html('Uploading...').show();
			var f;
			if( window.FormData === undefined ) {
				f = (e.files || e.dataTransfer.files);
			} else {
				f = e.target.files[0];
			}
			filename = f.name;
			var reader = new FileReader();
			reader.onload = (function(theFile) {
				return function(e) {
					file = e.target.result;
					submitJob();
				};
			})(f);
			reader.readAsBinaryString(f);
		}

		$('input[type=file]').on('change', uploadJob);

		clogin.afterLogin = function() {
    	$('#uploadarea').show();
    	$('#loginRedirect').hide();
		}
    clogin.login();
  });
</script>

<!-- Code to pull in alpha release banner -->
<script src="https://www.w3schools.com/lib/w3.js"></script>
<div w3-include-html="/static/alpha.html"></div>
<script>
w3.includeHTML();
</script>
