
<div class="container-fluid" id="availability" style="margin-bottom:200px;">
  <div class="row">
    <div class="col-md-8 col-md-offset-2">
      <input type="text" class="form-control holder search" style="display:none;">
      <img class="holder loading" src="/static/spin_orange.svg" style="width:100%;" />
      <div id="results"></div>
    </div>
  </div>
</div>


<script type="text/javascript" src="//static.cottagelabs.com/d3/d3.v4.min.js"></script>
<script>
  jQuery(document).ready(function() {
    var api = 'https://api.openaccessbutton.org';
    if (window.location.host.indexOf('openaccessbutton.org') === -1 || window.location.host.indexOf('dev.openaccessbutton.org') !== -1) {
      //api = 'https://dev.api.cottagelabs.com/service/oab';
      //clogin.api = 'https://dev.api.cottagelabs.com/accounts';
    }
    //clogin.login();

  	var fill = d3.scaleOrdinal(d3.schemeCategory10);
    var line = function(data,tgt) {
      var svg = d3.select(tgt),
        margin = {top: 10, right: 5, bottom: 10, left: 50},
        width = +svg.attr("width") - margin.left - margin.right,
        height = +svg.attr("height") - margin.top - margin.bottom,
        g = svg.append("g").attr("transform", "translate(" + margin.left + "," + margin.top + ")");
  
      var x = d3.scaleTime()
        .rangeRound([0, width]);
      var y = d3.scaleLinear()
        .rangeRound([height, 0]);
  
      var line = d3.line()
        .x(function(d) { return x(d.date); })
        .y(function(d) { return y(d.val); });
  
      x.domain(d3.extent(data, function(d) { return d.date; })).range([0, width - margin.left - margin.right]);
      y.domain(d3.extent(data, function(d) { return d.val; })).nice().range([height - margin.top - margin.bottom, 0]);
  
      g.append("g")
        .attr("class", "axis")
        .attr("transform", "translate(0," + y.range()[0] + ")")
        .call(d3.axisBottom(x)
  				.ticks( 10 )
  				.tickSizeOuter(0)
  			);
  
      g.append("g")
        .attr("class", "axis")
        .call(d3.axisLeft(y)
  				.ticks( 10 )
  				.tickSizeOuter(0)
  			);
  
      g.append("path")
        .datum(data)
        .attr("class", "line values")
        .attr("d", line)
  			.style('fill', 'none' )
        .attr("stroke", function(d) { return fill(d.key); })
  			.style('stroke-width', '1.3px' );
  		
      svg.selectAll("dot")
        .data(data)
        .enter().append("circle")
        .attr("r", 2.5)
        .attr("cx", function(d) { return x(d.date) + margin.left; })
        .attr("cy", function(d) { return y(d.val) + margin.top; })
  			.attr("class","holder dot")
        .attr("stroke", function(d) { return fill(d.key); })
        .attr("fill", function(d) { return fill(d.key); })
  			.attr("do", "add")
  			.attr("key","createdAt")
  			.attr("val",function(d) { return d.date.valueOf(); })
  			.style('cursor', 'pointer' )
        .append("title")
        .text(function(d) { return d.val + " on " + (d.text ? d.text : d.date); });
  	}

    var lineit = function(data,tgt) {
    	if ( !$(tgt).attr('height') ) $(tgt).attr('height',200);
    	if ( !$(tgt).attr('width') ) $(tgt).attr('width',$('#results').width());
  		var points = [];
  		var t = tgt === 'svg.rrline' ? data.aggregations.received.buckets : data.aggregations.availabilities.buckets;
      for ( var d in t ) {
        var text = moment.unix(t[d].key/1000).format('DD/MM/YYYY');
        points.push({text:text,date:t[d].key,val:t[d].doc_count});
      }
      line(points,tgt);
  	}

    var status;
    
    var availability = function(data) {
      var info = '<h2>Stats</h2>\
      <p>\
        We have been recording usage statistics since we switched to our new system, on 24th October 2016. \
        We don\'t track individual users usage, and we allow most features of our service to be used anonymously. \
        So we have more data about overall usage, and a bit about certain types of usage.\
      </p>';
      
      info += '<h3>Requests</h3>';
      info += '<p>We have ' + status.requests + ' requests, ' + status.article + ' for articles and ' + status.data + ' for data. ';
      info += status.requests_with_story + ' have stories, ';
      info += status.received + ' have been successful, ' + status.progress + ' are in progress, and ' + status.refused + ' were refused. ';
      info += 'The rest are going through our moderation process. 6184 of these requests in moderation are imports from our old system.</p>';
      info += '<p>New requests over time, grouped by week:</p>';
      info += '<svg class="rline"></svg>';
      info += '<p>New requests with stories over time, grouped by week:</p>';
      info += '<svg class="rsline"></svg>';
      info += '<p>Requests successful over time, grouped by week:</p>';
      info += '<svg class="rrline"></svg>';
      
      var found = 0;
      for ( var sc in data.facets.sources.terms) {
        if ( data.facets.sources.terms[sc].term === 'T') found = data.facets.sources.terms[sc].count;
      }

      info += '<h3>Availability</h3>';
      info += '<p>We have done ' + data.hits.total + ' availability checks, and we have found ' + found;
      info += '. That\'s a find success rate of ' + Math.ceil((found/data.hits.total)*100) + '% ';
      info += '(people tend to search for things that are NOT available so we expect this to be low). ';
      info += data.facets.email.missing + ' checks were made anonymously, ';
      info += 'and ' + (data.hits.total - data.facets.email.missing) + ' were made by signed in users. ';
      info += data.aggregations.emails.value + ' users have used the availability service whilst signed in.</p>';
      info += '<p>Availability checks over time, grouped by week:</p>';
      info += '<svg class="line"></svg>';

      info += '<h3>Users</h3>';
      info += '<p>We have ' + status.users + ' users in total, and ' + status.requested + ' have made requests while signed in. ' + status.supports;
      info += ' users have added their support to requests that someone else made. ' + data.aggregations.tm1.tm1v.value + ' users have done an availability ';
      info += ' check whilst signed in during the last month, and ' + data.aggregations.tm3.tm3v.value + ' greater than 1 month but less than 3 months ago.</p>';
      
      var plugins = {api:{all:data.facets.plugin.missing,week:data.facets.plugin_week.missing}};
      var alltotal = 0 + plugins.api.all;
      var weektotal = 0 + plugins.api.week;
      for ( var p in data.facets.plugin.terms ) {
        var pl = data.facets.plugin.terms[p];
        if (pl.term.indexOf('test') === -1) {
          var at = pl.term.split('_')[0].replace('oabutton','plugin').replace('oab','plugin');
          if (plugins[at] === undefined) plugins[at] = {all:0,week:0}
          plugins[at].all += pl.count;
          alltotal += pl.count;
        }
      }
      for ( var wp in data.facets.plugin_week.terms ) {
        var pw = data.facets.plugin_week.terms[wp];
        if (pw.term.indexOf('test') === -1) {
          var wt = pw.term.split('_')[0].replace('oabutton','plugin');
          if (plugins[wt] === undefined) plugins[wt] = {all:0,week:0}
          plugins[wt].week += pw.count;
          weektotal += pw.count;
        }
      }

      info += '<p>Users have been using these tools:</p>';
      info += '<table class="table table-bordered table-striped"><thead><tr><th></th>';
      for ( var plug in plugins ) info += '<th>' + plug + '</th>';
      info += '<th>TOTAL</th>';
      info += '</tr></thead><tbody><tr><td><b>all-time</b></td>';
      for ( var pla in plugins ) info += '<td>' + plugins[pla].all + '</td>';
      info += '<td>' + alltotal + '</td>';
      info += '</tr><tr><td><b>the last week</b></td>';
      for ( var plw in plugins ) info += '<td>' + plugins[plw].week + '</td>';
      info += '<td>' + weektotal + '</td>';
      info += '</tr></tbody></table>';

      $('#results').html(info);
      lineit(data,"svg.line");
    }

    var getstatus = function(data) {
      if (status === undefined) {
        $.ajax({
          url: api + '/status',
          success: function(rs) {
            status = rs.data;
            $.ajax({
              url: api + '/requests?&source=%7B%22size%22%3A0%2C%22query%22%3A%7B%22filtered%22%3A%7B%22query%22%3A%7B%22bool%22%3A%7B%22must%22%3A%5B%7B%22query_string%22%3A%7B%22query%22%3A%22story%3A*%22%7D%7D%5D%7D%7D%7D%7D%2C%22aggregations%22%3A%7B%22availabilities%22%3A%7B%22date_histogram%22%3A%7B%22field%22%3A%22createdAt%22%2C%22interval%22%3A%22week%22%7D%7D%7D%2C%22from%22%3A0%7D',
              success: function(d) {
                status.requests_with_story = d.hits.total;
                availability(data);
                lineit(d,"svg.rsline");
                $.ajax({
                  url: api + '/requests?&source=%7B%22size%22%3A0%2C%22query%22%3A%7B%22filtered%22%3A%7B%22query%22%3A%7B%22bool%22%3A%7B%22must%22%3A%5B%7B%22match_all%22%3A%7B%7D%7D%5D%7D%7D%7D%7D%2C%22aggregations%22%3A%7B%22availabilities%22%3A%7B%22date_histogram%22%3A%7B%22field%22%3A%22createdAt%22%2C%22interval%22%3A%22week%22%7D%7D%2C%22received%22%3A%7B%22date_histogram%22%3A%7B%22field%22%3A%22received.date%22%2C%22interval%22%3A%22week%22%7D%7D%7D%2C%22from%22%3A0%7D',
                  success: function(dt) {
                    lineit(dt,"svg.rline");
                    lineit(dt,"svg.rrline");
                  }
                });
              }
            });
          }
        });
      } else {
        availability(data);
      }
    }
    
    var tm1 = new Date();
    var m = tm1.getMonth();
    tm1.setMonth(tm1.getMonth() - 1);
    if (tm1.getMonth() === m) tm1.setDate(0);
    tm1.setHours(0, 0, 0);
    tm1.setMilliseconds(0);

    var tm3 = new Date();
    tm3.setMonth(tm3.getMonth() - 3);
    if (tm3.getMonth() === m) tm3.setDate(0);
    tm3.setHours(0, 0, 0);
    tm3.setMilliseconds(0);

    var tmwk = new Date();
    tmwk.setDate(tmwk.getDate() - 7);
    tmwk.setHours(0, 0, 0);
    tmwk.setMilliseconds(0);

    $('#availability').holder({
      class: 'holder',
      url: api + "/availabilities",
      datatype: 'JSON',
      defaultquery: {
        size:0,
        query: {
          filtered: {
            query: {
              bool: {
                must: []
              }
            },
            filter: {
              bool: {
                must:[]
              }
            }
          }
        },
        aggregations: {
          "availabilities" : {
            "date_histogram" : {
              "field" : "createdAt",
              "interval" : "week"
            }
          },
          "emails" : {
            "cardinality" : {
              "field" : "email.exact"
            }
          },
          "tm1" : {
            "filter": { "range" : { "createdAt" : { "gt" : tm1.valueOf() } } },
            "aggs": {
              "tm1v": {
                "cardinality" : {
                  "field" : "email.exact"
                }
              }
            }
          },
          "tm3" : {
            "filter": { "range" : { "createdAt" : { "gt" : tm3.valueOf(), "lte": tm1.valueOf() } } },
            "aggs": {
              "tm3v": {
                "cardinality" : {
                  "field" : "email.exact"
                }
              }
            }
          }
        }
      },
      pushstate: false,
      review: getstatus,
      facets: {
        plugin: { terms: { "field": "plugin.exact", "size": 100 } },
        plugin_week: { terms: { "field": "plugin.exact", "size": 100 }, "facet_filter" : { "range" : { "createdAt" : { "gt" : tmwk.valueOf() } } } },
        email: { terms: { "field": "email.exact", "size": 1 } },
        sources: { terms: { "field": "source.article", "size": 100 } }
      }
    });
    
  });
</script>


