  <!-- Start of openaccessbutton Zendesk Widget script -->
  <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","openaccessbutton.zendesk.com");
  /*]]>*/</script>
  <!-- End of openaccessbutton Zendesk Widget script -->

<div class="container-fluid">
  <div class="row">

<!-- start of form generated with https://bootsnipp.com/forms -->

<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<h1>Can you see what you want? </h1>

<!-- Select Multiple -->
<div class="form-group">
  <label class="col-md-4 control-label" for="selectmultiple">Select Multiple</label>
  <div class="col-md-8">
    <select id="selectmultiple" name="selectmultiple" class="form-control" multiple="multiple">
      <option value="1">Article one, author example 1, doi.org/this</option>
      <option value="2">Article two, author example 2, doi.org/that</option>
    </select>
  </div>
</div>

<!-- Button (Double) -->
<div class="form-group">
  <label class="col-md-4 control-label" for="item_confirm"></label>
  <div class="col-md-8">
    <button id="item_confirm" name="success" class="btn btn-success">That's it!</button>
    <button id="item_confirm" name="failure" class="btn btn-danger">I can't see it</button>
  </div>
</div>

</fieldset>
</form>


<!-- end of form generated with https://bootsnipp.com/forms -->


  </div>
</div>

<!-- Code to pull in alpha release banner -->
<script src="https://www.w3schools.com/lib/w3.js"></script>
<div w3-include-html="/static/alpha.html"></div>

<script>
w3.includeHTML();
</script>
