
  <!-- Start of openaccessbutton Zendesk Widget script -->
  <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","openaccessbutton.zendesk.com");
  /*]]>*/</script>
  <!-- End of openaccessbutton Zendesk Widget script -->
<style type="text/css">

.desctext{
  text-align: left !important;
  text-decoration: none;
  padding: 0px;
  font-weight: inherit;
}

.whitebox{
  background-color: white;
  flex-direction:column;
  border-radius: 5px;
  max-width: 470px;
  margin:auto;
}
.form-group{
 style="margin:10px 0px;"
}


</style>

<!--

* Add bootstrap for small screens

-->
<div class="container-fluid" style="max-width: 470px; margin: auto;">
    <div class="row">

  <!-- start of form generated with https://bootsnipp.com/forms -->

  <form class="form-horizontal">
  <fieldset>

  <!-- Form Name -->
  <h2>Ask the library to get you a copy</h2>

  <!-- Intro Text -->
  <p>We just need some additional information about your request, please complete as many fields as you can.</p>
  <br>
  <div class="whitebox" style="padding:10px;">
    <!-- Text input-->
    <div class="form-group" style="margin:10px 0px;">
      <label class="col-md-3 control-label desctext" for="article_title">Article Title</label>
      <div class="col-md-9" style="padding:0px;">
      <input id="article_title" name="article_title" type="text" placeholder="Why most published research findings are wrong" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group" style="margin:10px 0px;">
      <label class="col-md-3 control-label desctext" for="UUI">DOI / URL</label>
      <div class="col-md-9" style="padding:0px;">
      <input id="UUI" name="UUI" type="text" placeholder="www.example.org" class="form-control input-md">
      <span class="help-block">if available</span>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group" style="margin:10px 0px;">
      <label class="col-md-3 control-label desctext" for="author">Author(s)</label>
      <div class="col-md-9" style="padding:0px;">
      <input id="author" name="author" type="text" placeholder="Example, Author" class="form-control input-md">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group" style="margin:10px 0px;">
      <label class="col-md-3 control-label desctext" for="journal">Journal Title</label>
      <div class="col-md-9" style="padding:0px;">
      <input id="journal" name="journal" type="text" placeholder="International Journal of Examples" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group" style="margin:10px 0px;">
      <label class="col-md-3 control-label desctext" for="issn">ISSN</label>
      <div class="col-md-9" style="padding:0px;">
      <input id="issn" name="issn" type="text" placeholder="0370-2316" class="form-control input-md">
      <span class="help-block">if available</span>
      </div>
    </div>

    <!-- Text input-->
    <div class="form-group" style="margin:10px 0px;">
      <label class="col-md-3 control-label desctext" style="padding:0px;" for="pub_date">Year of Publication</label>
      <div class="col-md-9" style="padding:0px;">
      <input id="pub_date" name="pub_date" type="text" placeholder="1992" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Text input-->
    <div class="form-group" style="margin:10px 0px;">
      <label class="col-md-3 control-label desctext" for="volume">Volume</label>
      <div class="col-md-9" style="padding:0px;">
      <input id="volume" name="volume" type="text" placeholder="1" class="form-control input-md" required="">

      </div>
    </div>

    <!-- Textarea -->
    <div class="form-group"  style="margin:10px 0px;">
      <label class="col-md-3 control-label desctext" for="comments">Comments</label>
      <div class="col-md-9" style="padding:0px;">
        <textarea class="form-control" id="comments" name="comments"></textarea>
      </div>
    </div>

    <!-- Delivery Text -->
    <p>There is a £2 charge for each request. This article will take up to 7 calendar days to arrive.</p>

    <!-- Button -->
    <div class="form-group"  style="margin:10px 0px;">
      <label class="col-md-8 control-label" for="submit"></label>
      <div class="col-md-2">
        <button id="submit" name="submit" class="btn btn-default">Submit Request</button>
      </div>
    </div>

    </fieldset>
    </form>
  </div>

<!-- end of form generated with https://bootsnipp.com/forms -->


  </div>
</div>

<!-- Code to pull in alpha release banner -->
<script src="https://www.w3schools.com/lib/w3.js"></script>
<div w3-include-html="/static/alpha.html"></div>

<script>
w3.includeHTML();
</script>
