<!-- Start of openaccessbutton Zendesk Widget script -->
<script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","openaccessbutton.zendesk.com");
/*]]>*/</script>
<!-- End of openaccessbutton Zendesk Widget script -->

<style>

.example {

border: 2px;
border-style: solid;
border-color: black;

}

</style>

<!--

TODO

* Add styling
* Update links to go to actual example pages
* Probably replace HTML inserts with full code when it's done
* Adding in (?) hover sections
-->

<script src="https://www.w3schools.com/lib/w3.js"></script>

<div class="container-fluid">
	<div class="row">

<!-- Start of intro section -->

	<div class="col-md-8 col-md-offset-2">

	<h1 style="text-align:left;margin-top:25px;margin-bottom:25px;font-size:4em;">
		Next Generation ILL is nearly here!
	</h1>
	<p>
We're working to build ILL forms that allow:
		<ul>
			<li>Instant delivery of OA and paid-for content</li>
			<li>Embeding anywhere</li>
			<li>Easy installation</li>
			<li>Great on mobile</li>
			<li>No data entry for patrons</li>
		</ul>
all, Open Source, fully customisable and free. We're not quite ready for prime time, but here is a demo of what we're thinking.
	</p>
	<p>If you're interested in following our work, see here.</p>

</div>
<!-- End of intro section -->

<!-- start of left box -->

		<div class="col-md-6">

			<h1>Description</h1>

			<p>
				On the right you can see a prototype of the first part of our form embedded (yes, that's it).
			</p>
			<p>
			Try it with these three types of results:
			<ol>
				<li><a href="/ill_prototyping/result_cat">Where you already have access</a></li>
				<li><a href="/ill_prototyping/result_oa">Where it's Open Access already</a></li>
				<li><a href="/ill_prototyping/result_ill"></a>When we can't get all the info you need instantly</a></li>
				<li><a href="/ill_prototyping/full_form">Where you can't do the above!</a></li>
			</ol>

			</p>

		</div>

<!-- end of left box -->

<!-- Start of right box -->

			<div class="col-md-6 example" style="background-color:white">
				<h1>Example</h1>

				<div w3-include-html="/ill_prototyping/simple_form"></div>

			</div>

<!-- end of right box -->


	</div>

<!-- start of code enabling the pulling in of other html pages so we don't double up on code -->

	<script>
	w3.includeHTML();
	</script>

<!-- end of code enabling the pulling in of other html pages so we don't double up on code-->

</div>

<!-- Code to pull in alpha release banner -->
<script src="https://www.w3schools.com/lib/w3.js"></script>
<div w3-include-html="/static/alpha.html"></div>

<script>
w3.includeHTML();
</script>
