
  <!-- Start of openaccessbutton Zendesk Widget script -->
  <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","openaccessbutton.zendesk.com");
  /*]]>*/</script>
  <!-- End of openaccessbutton Zendesk Widget script -->

  <div class="container-fluid">
    <div class="row">
      <div class="col-md-8 col-md-offset-2" style="text-align:justify;">
          <div id="ill-results">

            <div id="article-name">

  <h1>This is an article title</h1>
  <p>authors</p>
  <p>Jurnl</p>
  <p>DOI / URL</p>

  <p><a href="/ill_prototyping/full_form" style="text-align:right">Not what you wanted?</a></p>

            </div>

            <div id="result-ill">
                <h1>Ask the library to get you a copy</h1>
                <p>There is a $3 charge for each request. This request will take 8 days to be fulfiled.</p>
                <a href="">Ask the library</a>
            </div>

        </div>
      </div>
    </div>
  </div>

<!-- Code to pull in alpha release banner -->
<script src="https://www.w3schools.com/lib/w3.js"></script>
<div w3-include-html="/static/alpha.html"></div>

<script>
w3.includeHTML();
</script>
