
  <!-- Start of openaccessbutton Zendesk Widget script -->
  <script>/*<![CDATA[*/window.zEmbed||function(e,t){var n,o,d,i,s,a=[],r=document.createElement("iframe");window.zEmbed=function(){a.push(arguments)},window.zE=window.zE||window.zEmbed,r.src="javascript:false",r.title="",r.role="presentation",(r.frameElement||r).style.cssText="display: none",d=document.getElementsByTagName("script"),d=d[d.length-1],d.parentNode.insertBefore(r,d),i=r.contentWindow,s=i.document;try{o=s}catch(e){n=document.domain,r.src='javascript:var d=document.open();d.domain="'+n+'";void(0);',o=s}o.open()._l=function(){var o=this.createElement("script");n&&(this.domain=n),o.id="js-iframe-async",o.src=e,this.t=+new Date,this.zendeskHost=t,this.zEQueue=a,this.body.appendChild(o)},o.write('<body onload="document._l();">'),o.close()}("https://assets.zendesk.com/embeddable_framework/main.js","openaccessbutton.zendesk.com");
  /*]]>*/</script>
  <!-- End of openaccessbutton Zendesk Widget script -->

<div class="container-fluid">
  <div class="row">

<!-- generated with https://bootsnipp.com/forms -->


<form class="form-horizontal">
<fieldset>

<!-- Form Name -->
<h1>Final Step!</h1>

<!-- T&Cs-->

<h1>Read the terms and conditions</h1>

<p>

I declare that:
<ul>

<li>I have not previously been supplied with a copy of the same material by you or any other librarian.</li>
<li>I will use the material ONLY for research for a non-commercial purpose.</li>
<li>I will not supply a ocpy of the material to any other person</li>
<li>To the best of my knowledge no other person with whom I work or study has made, or intends to make, at, or about the time of this request a request for substantially the same material and substantially the same purpose.</li>
<li>I will abide by any conditions dictated by the supplying library when the copy is received.</li>

</ul>

</p>

<!-- Text input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="username">Username</label>
  <div class="col-md-8">
  <input id="username" name="username" type="text" placeholder="y68932x" class="form-control input-md" required="">

  </div>
</div>

<!-- Guideance-->

<p>

Please authenticate using your university account to confirm your request and agree to the terms and conditions.

</p>

<!-- Password input-->
<div class="form-group">
  <label class="col-md-4 control-label" for="passwordinput">Password</label>
  <div class="col-md-8">
    <input id="passwordinput" name="passwordinput" type="password" placeholder="" class="form-control input-md" required="">
    <span class="help-block">Forgot your password?</span>
  </div>
</div>

</fieldset>
</form>

<!-- end of form generated with https://bootsnipp.com/forms -->

  </div>
</div>

<!-- Code to pull in alpha release banner -->
<script src="https://www.w3schools.com/lib/w3.js"></script>
<div w3-include-html="/static/alpha.html"></div>

<script>
w3.includeHTML();
</script>
